/* 
 *
 * layout.css
 * @carlwebdev
 *
 */

/*
main, header, footer {
  border: 12px solid var(--c-accent);
}
*/

main {

}

header {
	background-color: var(--c-accent);
	color: #fff; /* VS DARK MODE EC WHATAVER */
	padding-block: 1em; /* OBS - TO CANCEL THE H1 MARGIN TOP THAT IS NOT BEING RESET !!!! DO IF FIRST THEN NO MARGIN TOP ETC */
}

footer {
	background-color: var(--c-accent);
	color: #fff; /* VS DARK MODE EC WHATAVER */
	padding-block: 1em; /* OBS - TO CANCEL THE H1 MARGIN TOP THAT IS NOT BEING RESET !!!! DO IF FIRST THEN NO MARGIN TOP ETC */
}


header, footer {

}




main section {

  &:nth-child(even) {
    background-color: var(--c-bg); /* MAIN BACKGROUND COLOR, FOR EVEN SECTIONS */
  }
    
  &:nth-child(odd) {
    background-color: var(--c-bg-alt); /* ALTERNATIVE BACKGROUND COLOR, FOR ALTERNATING SECTIONS, OR WHATEVER, NOT FOR THE MAIN BACKGROUND OF THE SITE, BUT FOR ELEMENTS THAT NEED TO STAND OUT A BIT MORE THAN THE MAIN BACKGROUND, BUT STILL BE LIGHT ENOUGH TO CONTRAST WITH THE TEXT */
  }

}


/* copied fomr scrol snap cdn file - - - -TODO - ADD STICKY FOOTER LOGIC AS AN OPTION, EASY !!! */   /* ALSO THE SYTICKEY HEADER ETC */


html {
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  /* scroll-snap-type: y proximity; */
}

body {
  min-height: 100%;
}
  section,
  header,
  footer {
    scroll-snap-align: start;
  }






section {
  /* border: 3px solid red; */ /* DEMO */
  padding-block: 2em; /* to kil the h margin top */
}



.wrapper {
  /* position: relative; */ /* PRO EL POPOVER PSEUDO ABSOLUTE */

  max-width: var(--site-max-width);
  min-width: var(--site-min-width);
  margin-inline: auto; 

  padding-inline: 4em; 
}  


@media screen and (max-width: 1024px) {

  section {
    grid-template-columns: 1fr; /* TODO */
  }

  .wrapper {
    padding-inline: 2em; 
  }  

} /* MEDIA-QUERY */