/* body, */
/* #page {
    border: 12px solid orange; 
} 
*/


/* BOX MODEL */
*, *:before, *:after {
	box-sizing: border-box;
}



/* 
 * 1 - REMOVE MARGIN AROUND THE PAGE 
 * OBS - BODY MARGIN 0 IS THE KEY 
 */
html, body {
	margin: 0; /* OBS - BODY MARGIN 0 IS THE KEY  */
	padding: 0;
} 

ol, ul {
	/* */
	list-style:none;
	margin: 0;
	padding:0;
}


  img {
	max-width:100%; 
	height:auto; /* The height is added to ensure the aspect ratio of the image is retained. */

    display: block; /* This will remove the space below the image */
    width: 100%; /* This will make the image responsive */
	}


/* img {display:block;}  */
/* iframe {display: block;} */  

/* picture tag */ 


 video, audio,
 iframe, canvas {
  /* display:block; */
  width: 100%; /* This will make the tag responsive */
 }


textarea {
	resize: none;
	/* TODO - ADD DYANMIC HEIGHT WHEN FILLED IN !!!! */
}
/*  
 * HTML Tags - media-related - add thigs to reste fie 
 */



table {
	width: 100%; /* ??? ok */
	border-collapse: collapse;
}